[2019-12-12 13:15] asmariyaz23 opened #1 "Boundaries does not match error"
Hello,

I am running NanoVar, but run into the error below. Could you help me understand how this could be resolved?

[code]

Here is a portion of the log file generated by Nanovar:

[code]

Here is a listing of files in nanovar output:
[code]
Thank you,
Asma

[2019-12-13 04:23] cytham commented on #1
Hi Asma,

Thank you for using NanoVar and reporting the issue.

This is a bug that happen when there is very low FASTA input. I will fix it in the next update in the coming days. Please reinstall and try the new version when it is released.

Thanks!
cy

[2019-12-15 08:46] asmariyaz23 commented on #1
Hi Cy,

Thank you for your response. Could you please let me know what is the minimum FASTA input (# of reads) that is required?

Best,
Asma

[2019-12-16 03:06] cytham commented on #1
Hi Asma, the minimum # of reads required depends on your read lengths...but anyway, I have fixed the bug in the new v1.2.7. Please reinstall it and try. Thanks!

[2019-12-16 09:30] asmariyaz23 commented on #1
Thank you Cy! I will check it out. I input the entire fastq file (and not just a portion of it) as is and NanoVar ran successfully. I have low coverage so your explanation makes sense.

[2019-12-16 13:24] cytham commented on #1
You are welcome! Thanks for using the tool and feel free to contact me for any more problems.

[2019-12-16 13:24] #1 closed

[2019-12-24 06:10] asmariyaz23 opened #2 "Annotating variants called by NanoVar"
Hello Cy,

Could you comment on how you go about annotating the VCF file generated by NanoVar. I have tried AnnoVar and AnnotSV, all but the Exac scores could be achieved from them. Have you done any work on getting annotations for Exac on the variants called by your software?

Thank you,
Asma

[2019-12-24 10:02] cytham commented on #2
Hi Asma,

Thanks for writing in.

I am still working on a separate tool to annotate SVs, so I can't comment much on it right now. You can try to overlap the SVs in the VCF file with GFF files for gene annotation, or ChIP-seq results for binding site annotation. I am not sure what is Exac, do you mean the "exome aggregation consortium"? If yes, I don't have much experience with it and I can't acces

[2020-01-28 04:34] #2 closed

[2020-01-28 04:43] asmariyaz23 opened #4 "Run fails at nv_cluster.py IndexError: list index out of range"
Hello Cytham,

I successfully ran 2 of my samples with NanoVar. But I get the following error with the next 2 samples. Could you shed some light on the error below?

Thank you,
Asma

[code]

[2020-01-29 10:21] cytham commented on #4
Hi Asma,

Sorry for the late reply.

It is possible that something is different in this FASTQ file compared to the others which had the successful run (e.g. special symbols in read names/reference contig names). Can you show me the read names of the reads or perhaps send me a small FASTQ for a test run?

Anyway, I am releasing v1.2.8 in the next few days. It is faster and more precise than the pre

[2020-01-29 19:23] asmariyaz23 commented on #4
Hello Cy!

Please find attached fastq file (subsetted first 100 reads). Please let me know if you see anything abnormal.
[trimmed.100reads.fastq.tar.gz](https://github.com/cytham/nanovar/files/4130296/trimmed.100reads.fastq.tar.gz)

Best,
Asma

[2020-02-03 15:20] jagos01 opened #5 "Error loading vcf file into IGV"
Hello Cytham,
I am trying to load .pass.nanovar.vcf into IGV.  I get the following error:

The provided VCF file is malformed at approximately line number 27: the END value in the INFO field is not valid.

The value in the INFO field for END is '.'  I believe it is expecting an integer.  Several other lines contain this value for END.  Can I change this value to any integer or is there another way

[2020-02-03 16:44] benoukraflab commented on #5
Hi Scott,

Thanks for using NanoVar and I'm sorry for the IGV upload error.

I will be fixing this issue in the next version 1.2.8 that I'll be releasing in the next few days. I suggest you to wait for this version and re-run your sample.

Regards,
cy

[2020-02-04 01:41] jagos01 commented on #5
Thanks Cytham, I will re-rurn the data with the new version.  I have a
couple more questions.
1.   I compared the same data run on v1.0.2 and 1.2.7.  Significantly more
sv are called with v1.2.7.  Would this be due to the threshold dropping
from 2.6 to 1 or a change in the model?

2.  Does NanoVar still work with higher genome coverages (eg. 100x) or is
it better to have lower coverage (4-10x)?

T

[2020-02-10 10:19] Tintest opened #6 "IndexError: list index out of range"
Hello,

I got an issue quite similar to #4 :

[code]

[Here is the 100 firsts of my reads ](https://filesender.renater.fr/?s=download&token=33fc44a8-a398-85d5-de3a-f9ebf326f61c)

Nanovar has been installed thanks to conda.

Can you help me ?

Thank you,

Regards.

[2020-02-10 11:39] benoukraflab commented on #5
Hi Scott,

Sorry for the late reply.

1. Yes, it's due to both a threshold drop and a new model. The v1.2.7 detects more SVs at single read coverage but might also lead to increase false positives. I will be resolving this issue in the next version.

2. NanoVar should still work with higher genome coverages. I have tested till 40X coverage and I believe it will work with even higher coverages.

Be

[2020-02-28 11:31] cytham commented on #6
Hi Tintest,

Sorry for the late reply.

NanoVar has been updated to v1.3.0. I have tested your reads on this new version and it ran successfully. Please reinstall this new version and try running your data again.

Sorry again for the delay and thanks for trying out NanoVar. Let me know how it goes.

Best,
cy

[2020-02-28 11:31] cytham commented on #4
Hi Asma,

Sorry for the late reply.

NanoVar has been updated to v1.3.0. I have tested your reads on this new version and it ran successfully. Please reinstall this new version and try running your data again.

Sorry again for the delay and thanks for trying out NanoVar. Let me know how it goes.

Best,
cy

[2020-02-28 11:36] cytham commented on #5
Hi Scott,

NanoVar has been updated to v1.3.0. I have fixed the VCF formatting and it is now able to be read into IGV. Please reinstall this new version and try it out.

Sorry for the delay in the update and thanks for trying out NanoVar. Let me know how it goes.

Best,
cy

[2020-02-28 22:53] jagos01 commented on #5
Hello Cytham,
I reinstalled NanoVar v1.3.0 (using conda).  When I run it I get the following error:
NanoVar started
Checking integrity of input files - -
Indexing genome and aligning reads - -
Analyzing read alignments and detecting SVs - \Traceback (most recent call last):
  File "/home/scott/miniconda3/envs/nanovarV1.3.0/bin/nanovar", line 452, in <module>
    main()
  File "/home/scott/minicond

[2020-02-29 04:28] asmariyaz23 commented on #4
Hi Cytham,

Yes! this release seems to have solved the issues with those samples. Thank you for the new release.

Regards,
Asma

[2020-02-29 04:28] #4 closed

[2020-02-29 05:40] benoukraflab commented on #5
Dear Scott,

My apologies for the error, I have overlooked the 'nv_bam_parser' compilation procedures. I have fixed the issue in v1.3.1.

Thanks for raising this problem.

Best,
cy

[2020-02-29 16:15] jagos01 commented on #5
Hello Cy,
I installed v1.3.1 and it ran without a problem.  However when loading  .pass.nanovar.vcf into IGV I get the following error:

Unable to parse header with error:  Your input file has a malformed header:  Unclosed quote in header line value equal to 1.0>, for input source: ......

There were two line with unclosed quotes in them
##FILTER=<ID=PASS,Description="Quality above/equal to 1.0>
#

[2020-03-01 08:44] cytham commented on #5
Hi Scott,

Thanks for raising the problem and identifying the specific malformed headers. I will rectify them in the next update. Strangely, my IGV did not raise that error, I guess that it might be a different version from yours.

Please continue to feedback about NanoVar's performance, I greatly appreciate your comments!

Best,
Cy

[2020-03-02 09:13] #5 closed

[2020-03-04 08:46] MaestSi commented on #6
Hi @cytham , I faced a similar error with version with v1.3.1. If version v1.3.2 fixes this, are you please going to update the conda version?
Thanks in advance,
Simone

[2020-03-04 08:56] cytham commented on #6
Hi Simone,

I am not sure if the error you are facing will be solved in v1.3.2 which will be available by today. I would need more information like the exact error and log file to troubleshoot.

Thanks

Best,
cy

[2020-03-04 09:05] MaestSi commented on #6
Hi, here is the log:
[NanoVar-030320-1536.log](https://github.com/cytham/nanovar/files/4286327/NanoVar-030320-1536.log).
The error message I had is the following:

[code]

[2020-03-04 09:54] cytham commented on #6
Hi Simone,

Thanks for the error output and log file.

I am not sure what is causing the error. Can you please use the "debug" version of NanoVar that I have just created in the "debug" branch and send me the "nanovar_debug.txt" file?

Here are the instructions to do it:
[code]
Once the run has finished, check if there is anything written in the "nanovar_debug.txt" file. If there is, please send m

[2020-03-04 11:17] MaestSi commented on #6
Hi, here are the log:
[nanovar_debug.txt](https://github.com/cytham/nanovar/files/4286963/nanovar_debug.txt)
and the error:

[code]
Thanks,
Simone

[2020-03-04 12:41] cytham commented on #6
Hi Simone,

Thanks for trying it out.

I think the problem lies with your contigs in the reference genome having symbols such as ":" and "-" as seen in "HLA-DRB1*11:04:01" from the debug file. Removing these contigs from the reference genome should solve the issue.

Because you had an interrupted run the first round, please do run with --force the next time you run NanoVar for the same output dire

[2020-03-04 13:00] MaestSi commented on #6
Hi, so basically I should remove the alternative haplotypes from the hg38 reference genome. Moreover, I don't think minimap2 handles those contigs in a proper way (as BWA would), so that would be an additional reason for removing them from the reference. So, if I understood correctly, NanoVar should be able to resume the run from where it failed, if specifying the --force flag?
Thanks, I'll let yo

[2020-03-04 13:40] cytham commented on #6
Hi Simone,

The point is to remove or rename any contig in the reference genome that has those symbols. You can check the genome.sizes file to see the names of all the contigs. I suppose only the >HLA contigs have symbols and have to be removed or renamed. You can still keep the  alternative haplotypes or UNKN contigs as they do not have the symbols. I am unsure about the differences minimap2 or B

[2020-03-05 14:16] d2389758 opened #7 "hs-blastn alignment failed"
Hi,
I am running nanovar v1.3.2 (installed via bioconda) using nanopore reads from cattle genome.

I encountered the error when nanovar ran hs-blastn:
[code]

I ran the hs-blastn commend alone (see below) and did not have issue.
`hs-blastn align -db /nfs/nas12.ethz.ch/fs1201/green_groups_tg_public/data/fang/pacbio_snake/ref/UCD_ref.fa \
-window_masker_db UCD_ref.counts.obinary -query temp2.fa -out

[2020-03-05 15:21] cytham commented on #7
Hi,

I am not sure. Can you try to run with --force to regenerate the blast index files? You can run it with the BAM file generated to save time.

Best,
cy

[2020-03-05 16:37] d2389758 commented on #7
Hi,
Thanks for the reply.
I did run a blast index alone again and re-ran the pipeline. However, i still encountered the same error message...
Not sure how to debug this since know the log file did not contain the details of the error.

[2020-03-05 16:40] cytham commented on #7
Hi,

Did you try to run with --force?

cy

[2020-03-05 16:44] d2389758 commented on #7
Hi,
Yes, I did.
I also tried with different working directory to start the pipeline from scratch. Still the same issue.

[2020-03-05 16:46] cytham commented on #7
Hi,

Thanks for trying.

Can you send me your log file?

cy

[2020-03-06 01:09] xiekunwhy opened #8 "How to use nanovar to do population-scale SV calling?"
Hi,

How to use nanovar to do population-scale SV calling when there a lot of samples (like Iceland populaiton https://www.biorxiv.org/content/10.1101/848366v1)?

Best wishes
Kun

[2020-03-06 07:38] d2389758 commented on #7
Hi,

Please find the attached file for the log.
[NanoVar-050320-2235.log](https://github.com/cytham/nanovar/files/4297087/NanoVar-050320-2235.log)

[2020-03-06 10:08] cytham commented on #8
Hi Kun,

NanoVar is a genomic SV caller. It detects SVs from long-read WGS data. For SV analysis on a population-scale, NanoVar is only involved in SV discovery where it detects SVs for individuals in the population, generating a VCF file for each individual. Any downstream analysis from the VCF files requires other tools and databases. I am currently developing a SV analysis tool which can annota

[2020-03-06 10:17] cytham commented on #7
Hi,

Thanks for the log file.

I am guessing that the loading of the blast indexes might have failed, since it got terminated at that step. You mentioned that hs-blastn ran fine alone. Can you send me the output file (e.g. test.fa) and the command line output?

Thanks
cy

[2020-03-06 11:56] d2389758 commented on #7
Hi,
I attached the test.fa, but I did not keep the command line output.
I will re-run it again and put the command line output here.

Thanks for the test file. I will try it now.

[test.fa.tar.gz](https://github.com/cytham/nanovar/files/4298194/test.fa.tar.gz)

[2020-03-06 12:50] d2389758 commented on #7
Hi,
I ran nanovar with the test reference genome, and it worked without problem.
I attached here the command line output of hs-blastn that I ran alone.

Thanks a lot.

[hs_blastn.log](https://github.com/cytham/nanovar/files/4298386/hs_blastn.log)

[2020-03-06 16:07] cytham commented on #7
Hi,

Like you said, running the hs-blastn alone seems fine. Thanks for sending me the logs.
I am still not sure why you are getting the error when you use your own reference genome. Could it be that it is exceeding your memory limit when hs-blastn is run in the pipeline?

cy

[2020-03-06 16:34] MaestSi commented on #6
Hi, I confirm that after removing all '*', ':' and '-' from chromosomes names, NanoVar v1.3.2 worked without any errors!
Thanks,
Simone

[2020-03-06 16:35] d2389758 commented on #7
Hi,
Thanks a lot for checking the log files.
I am not sure that the memory was the problem since I provided more memory when running nanovar than when running hs-blastn alone (I ran them as jobs on HPC). I also ran nanovar on a login node. It was not killed, and I had the same error message...

I will look into the files generated with test reference genome to figure out what caused this issue.

T

[2020-03-06 16:52] cytham commented on #6
Hi Simone,

Thanks for getting back to me and glad that it solved the problem.

Best,
cy

[2020-03-06 16:52] #6 closed

[2020-03-06 16:53] cytham commented on #7
Hi,

ok, I will also test it on the HPC. Will let you know if I get any hints.

Thanks,
cy

[2020-03-09 02:10] xiekunwhy commented on #8
Hi cy,

Thank you for your reply, hope tools coming soon.

Best,
Kun

[2020-03-11 15:09] jiadong324 opened #9 "Nanovar makeblastdb failed"
Hi,

I installed nanovar through conda, and add makeblastdb, windowmasker and hs-blastn to the conda virtual environment. I am running on a server, here is the log file.

[NanoVar-110320-1908.log](https://github.com/cytham/nanovar/files/4318989/NanoVar-110320-1908.log)

It seems that makeblastdb trying to modify some data, and it is not permitted.

Looking forward to your reply, thanks!

[2020-03-11 15:22] cytham commented on #9
Hi,

I think you might not have write permissions for your reference genome directory ('genome'). makeblastdb needs to create genome indexes in the same directory of the input reference genome.

You can do `ls -lh /home/DATA/REFGENOMEDB/human/GRCh38_full_analysis_set_plus_decoy_hla/genome`  to check if you have write permissions. Also, you can just try to make a file in that directory to test.

Be

[2020-03-12 10:07] jiadong324 commented on #9
@cytham Thanks, I see the reason.

[2020-03-12 10:29] sidiropoulos commented on #7
Hi,
I'm experiencing the same issue. Are there any updates on this?

Thanks,
Nikos

[2020-03-12 12:35] cytham commented on #7
@sidiropoulos are you running NanoVar on the HPC too? can you please attach your log file.

Thanks,
cy

[2020-03-12 12:35] #9 closed

[2020-03-12 12:35] #8 closed

[2020-03-12 17:16] jiadong324 commented on #9
@cytham

Hi,

I got another issue, where the contig name contains some invalid symblos. The contig name is HLA-A*01:01:01:01.

Btw, I am using the reference genome GRCh38_full_analysis_set_plus_decoy_hla.fa from 1000 Genome Projects.

[2020-03-12 17:37] cytham commented on #9
The current version 1.3.2 does not support contigs with symbols "~, :, -" in their id. You need to remove these contigs from the reference genome, or wait for the next update coming soon.

Sorry for the inconvenience.

[2020-03-17 15:52] cytham commented on #7
@d2389758 any updates on this issue? I have successfully ran NanoVar on my HPC.

[2020-03-20 08:19] d2389758 commented on #7
I re-downloaded again the reference fasta file (without index) and re-ran the nanovar from scratch.
It worked, so I think the problem is using a fasta file already indexed.
Not sure why.

[2020-03-20 08:34] cytham commented on #7
@d2389758 I see, thanks for trying it out and I'm glad it works now. Were you running any other aligners in parallel with NanoVar using the same reference FASTA file? I am guessing that the indexes created by another aligner might have clashed with the index created by blast as they might have the same suffixes. BWA is known to override some of blast's indexes.

@sidiropoulos are you able to resol

[2020-03-20 08:51] d2389758 commented on #7
@cytham Interestingly, my previous fasta was indexed with minimap2. After the failed nanovar run, I re-indexed with blast alone without issue, but the same problem still persisted.

No, the new fasta was downloaded from Ensembl, whereas the old fasta was downloaded from UCSC server. I could try to download the same fasta from UCSC and re-run nanovar again for testing, but maybe later in time.

[2020-03-20 08:59] cytham commented on #7
@d2389758 minimap2 indexing neither produce any index files nor alter the FASTA file. So I am not sure how that will affect the usage of the same FASTA for NanoVar.

[2020-03-20 09:22] cytham commented on #9
@jiadong324 NanoVar version >=1.3.3 now omits reference contigs with invalid symbols instead of producing an error.

[2020-03-24 01:12] jiadong324 commented on #9
@cytham Thanks for your kind reminder. I met another issue, running function run.cluster_nn().  I attach the error message below:

[minimap_nanovar_ONT240.txt](https://github.com/cytham/nanovar/files/4372604/minimap_nanovar_ONT240.txt)

[2020-03-24 05:14] cytham commented on #9
@jiadong324 can you try to reinstall NanoVar using conda? `conda install nanovar —force-reinstall`

[2020-03-24 07:24] jiadong324 commented on #9
@cytham Thanks for your feedback!

[2020-04-01 11:01] jiadong324 commented on #9
@cytham

Hi,

I reinstall nanovar as you mentioned. I do have problem with load_model function, and it seems to be the issue from keras in tensorflow. Therefore, I also reinstall the tensorflow package under my conda environment. It dose not work as usual.

I also tried a new conda environment for nanovar, which still dose not work.

Do you have any ideas of the issue?

Thanks!

[2020-04-01 11:04] cytham commented on #9
@jiadong324 can you show me the error for the load_model?

[2020-04-02 01:08] jiadong324 commented on #9
Hi,

Here is the screenshot of the error.

![error_screenshot](https://user-images.githubusercontent.com/6951612/78200391-1cdd5980-74c1-11ea-9e8f-68835c21356d.png)

The model under nanovar packages are:
ANN.E63B400L2N12-5D0.4-0.3SGDsee31_het_v1.h5
ANN.E63B400L2N12-5D0.4-0.3SGDsee31_het_v2.h5
ANN.E70B100L3N12-5D0.4-0.2SGDsee11_het_v5.h5

Thanks!

[2020-04-02 03:03] cytham commented on #9
@jiadong324 what NanoVar version are you using? Please do `nanovar -v`.
Can you please re-install the most updated version (v1.3.5)? Because your models are outdated.

Please try the load_model again with the new models.

Please also do `pip freeze > packages.txt` and attach the packages.txt file. Thanks

[2020-04-05 02:31] jiadong324 commented on #9
Hi,

I've recreated the environment and the above issue is solved. But another error occurs at nv_cluster.py of the loadread_bp() function.

Here is the screenshot of the error.

![error](https://user-images.githubusercontent.com/6951612/78465452-7dba9b00-7728-11ea-8819-5adb97e732b0.png)

[2020-04-05 14:46] cytham commented on #9
@jiadong324 Great that you resolved the issue. This new error might be caused by a bug. I will try to fix it in the next update.

Meanwhile, if you are willing, can you try to edit the nv_cluster.py script? It should be at `/home/jdlin/.conda/envs/py36/lib/python3.6/site-packages/nanovar/nv_cluster.py`. Can you change `raise Exception("Error: Main SV class not found")` on line 307 to `raise KeyErr

[2020-04-06 00:22] jiadong324 commented on #9
@cytham Ok, I will change the source code and try again. Thanks!

[2020-04-09 02:19] jiadong324 commented on #9
@cytham Hi, I've changed the code and there are still errors, please check the log file below. Thanks!

[minimap_nanovar_ONT240.txt](https://github.com/cytham/nanovar/files/4453663/minimap_nanovar_ONT240.txt)

[2020-04-09 04:00] cytham commented on #9
@jiadong324 Thanks a lot for trying it out. Ok I think I will need to replicate the error on my side to fix the problem. Do you mind running NanoVar with --debug option and send me `subdata.tsv` , `parse1.tsv`, `genome.sizes` and the log file?

Thanks for your continual support!

[2020-04-12 01:40] jiadong324 commented on #9
@cytham Hi, I've tried what you recommend.

1. You raise an exception at line 87, so I add the code you suggested before line 87 instead of after line 87.

2. I run nanovar by adding --debug. The file subdata.tsv and parse1.tsv should under the output directory, but I did not find them.

3. The log file looks fine to me. Please check below.

[NanoVar-110420-1109.log](https://github.com/cytham/nano

[2020-04-12 02:16] cytham commented on #9
@jiadong324 I think you might have got the source code module wrong. You might have added the code to nv_cluster.py but its actually suppose to go to line 87 of nv_characterize.py. Example shown below:
[code]
Sorry for the confusion.

[2020-04-13 13:18] jiadong324 commented on #9
@cytham Hi, the three TSV files are too big. Can I send you through email?

[2020-04-13 16:08] cytham commented on #9
@jiadong324 Hi, thanks for generating the files. Please try this email e0054302@u.nus.edu

[2020-04-17 16:36] cytham commented on #9
@jiadong324 Thanks for the files and your patience. I have fixed the bugs and release a new version of NanoVar 1.3.6. Please try it out and let me know if its okay.

Thanks!

[2020-04-18 15:30] cytham commented on #7
I will close this for now. If you still have issues, I will open it again.

[2020-04-18 15:30] #7 closed

[2020-04-28 01:28] jiadong324 commented on #9
@cytham Thanks for solving the problem, it works now!

[2020-04-28 12:46] cytham commented on #9
@jiadong324 That's great! Thanks for your help!

[2020-04-28 23:04] asmariyaz23 opened #10 "Intersecting NanoVar SVs"
Hello,

I have 2 samples (twins) for which I have used NanoVar to successfully call SVs. I want to find out the intersection between these VCFs. I used bedtools' intersectBed to find this intersection but I get the following error:

[code]

I was wondering if you ever came across this issue in your work as I saw that NanoVar paper also used the same bedtools intersectBed to find intersection.

Tha

[2020-04-29 02:50] jiadong324 commented on #9
@cytham I found another issue which related to conda install.

The one I run successfully was installed on conda version 4.7.12. But it dose not work on conda 4.8.3 (latest version). By using the conda latest version, I can install the nanovar 1.3.2 instead of 1.3.6.

You can check it out if this really happens, otherwise, it might be problem of my machine.

[2020-04-29 06:50] cytham commented on #9
Hi @jiadong324, my conda version is also 4.8.3 and I am able to install nanovar-v1.3.6.

Here are some tips:
1) Did you try with the bioconda channel like this `conda install -c bioconda nanovar`?

2) Did you set your channels properly for your new conda version?
The order is important here.
[code]
Please refer to https://bioconda.github.io/user/install.html under section 2.

Good luck and let me

[2020-04-29 17:09] cytham commented on #10
Hi @asmariyaz23,

I'm sorry but I have not encountered that error before while intersecting two of NanoVar's VCF files. More importantly, I wouldn't intersect the VCF files that way as I am not sure how BEDTools-intersect will handle the breakends of each SV. It is safer to extract all the breakend coordinates into a BED file and then use them for intersection. For example, if you have a 1kb delet

[2020-05-11 09:16] jiadong324 commented on #9
@cytham I found another issue, where the program is sensitivity to file name. For example, I accidentally have 'fa' in BAM file. Then the program starts to check GZIP and thus raise error. Please fix or mentioned it somewhere in the program.

Thanks!

[2020-05-12 04:27] cytham commented on #9
@jiadong324 Thanks for letting me know, I will take note and fix it in the next patch!

[2020-05-14 05:42] jiadong324 commented on #9
@cytham Hi, I found another error while running a cancer cell line sequenced by PacBio CLR.

[Nanovar_SKBR3.txt](https://github.com/cytham/nanovar/files/4626257/Nanovar_SKBR3.txt)

[2020-05-14 06:05] cytham commented on #9
@jiadong324 Thanks for reporting the error.
It seems like the blast output contains "0.0" as part of the coordinates, can you send me the "blast.tab" file for me to investigate?

Thanks

[2020-05-16 05:23] jiadong324 commented on #9
@cytham I found this file is big, I can share with you through OneDrive, is that ok for you?

[2020-05-16 09:51] cytham commented on #9
@jiadong324 Sure, e0054302@u.nus.edu this is my email

[2020-05-16 09:52] #10 closed

[2020-05-18 01:15] jiadong324 commented on #9
@cytham I've send you a link, please check.

[2020-05-23 17:47] cytham commented on #9
@jiadong324 the file you sent me is corrupted at the end. Perhaps something went wrong during the BLAST alignment step. I suggest that you rerun your sample with the new version I just released (v.1.37) and let me know how it goes.

Thanks!

[2020-05-26 01:07] jiadong324 commented on #9
@cytham Ok, I will try the new version. Before your update, I also found another issue. I will check if this happens for the latest version.

BTW, do you need the shared file? If you don't, I will delete that file.

![image](https://user-images.githubusercontent.com/6951612/82850754-2965b780-9f30-11ea-845f-f259f71526ab.png)

[2020-05-26 01:27] cytham commented on #9
@jiadong324 I don't need the shared file anymore, you can delete it, thanks.

That error might have been fixed in the new version, please try and let me know, thanks!

[2020-06-16 04:00] yusmiatiliau commented on #7
Hi, I tried to run nanovar using nanopore reads from human genome, but it gave me the hs-blastn index failed error. Reading through this issue page, I have tried using new reference sequence (hg38 downloaded from UCSC, as well as hg38chromosome1 from ensembl), both returned with the same error.

I installed nanovar and all dependencies according to the installation guide, and this is the command l

[2020-06-16 04:28] cytham commented on #7
@yusmiatiliau sorry that you encountered this error.

I believe this error is caused by a new version of HS-BLASTN (version 1.0.0) present only on GitHub. And I guess you install HS-BLASTN by cloning its GitHub repo?

 Please try the following steps to fix it:
[code]

Hope it works

[2020-06-16 05:45] yusmiatiliau commented on #7
Hi @cytham, thanks so much for your prompt response.

Yes, I installed hs-blastn by cloning from github.
I have followed your instruction, but trying to compile v0.0.5 gave me error:

 CC     sources/mask_misc.cpp => objs/./sources/mask_misc.o
In file included from ./sources/mask/include/winmask/seq_masker.hpp:41:0,
                 from sources/mask_misc.h:4,
                 from sources/mask_mi

[2020-06-16 05:52] cytham commented on #7
Hi @yusmiatiliau

That seems like a bug in line 205 of ./sources/utility.h file.

Can you replace "isnan" with "std::isnan" at line 205 of ./sources/utility.h and try to make again.

[2020-06-17 00:24] yusmiatiliau commented on #7
Hi @cytham
Thanks so much for your kind help.
It works now!

[2020-06-17 03:31] cytham commented on #7
That's great!

[2020-06-25 13:00] tdido opened #11 "Failure when generating HTML report"
My run seems to fail at some point. Last thing the log says is that it's generating the HTML report.

Command line:

[code]
I get this through stderr:

[code]
Output directory looks like this:
[code]
[Log file here](https://github.com/cytham/nanovar/files/4831341/NanoVar-250620-1250.log)

[2020-06-25 13:11] cytham commented on #11
Hi, can I check if the output directory contains the file "ERR2752452.nanovar.pass.vcf"?

[2020-06-25 13:17] tdido commented on #11
Nope, that file does not exist.

Since the FASTQ file I used had only 0.7x coverage, I did another run, this time with the full FASTQ, no downsampling (60x coverage). In this case the *pass.vcf file exists, but I get the same error.

[Here is the log for the run with the complete FASTQ](https://github.com/cytham/nanovar/files/4831436/NanoVar-230620-1650.log)

And these are the contents of the dire

[2020-06-25 13:19] tdido commented on #11
I'm using a conda environment on Debian.

[Here's the environment definition.](https://github.com/cytham/nanovar/files/4831457/nanovar.txt)

[2020-06-25 13:37] cytham commented on #11
Thanks, that helps.

It seems like the 0.7X coverage run resulted in all SVs failing the threshold score of 1. Causing no passed SVs and hence no pass file. But that is not the problem here.

For the OMP error, you may want to try `conda install nomlk` in your conda environment as suggested here https://github.com/dmlc/xgboost/issues/1715

[2020-06-25 15:32] tdido commented on #11
Thank you for your help.

Adding nomkl didn't work. I'll try the other solutions proposed there.

How about the missing index for the bam file? Any ideas?

[2020-06-25 15:36] cytham commented on #11
Thanks for trying it out.

I am still investigating the index error. The report generation should not require a bam index.
Does the index error pops up right at the end when the run halts?

Were you able to import the packages successfully?

[2020-06-25 18:18] tdido commented on #11
Well, on one hand I could fix the OMP error by running this before NanoVar:

`export KMP_DUPLICATE_LIB_OK='True'`

With that all files are generated correctly, included the HTML report, and NanoVar exits gracefully.

The index error remains, though, even if only visible in the log file. I can confirm that it happens much earlier than the end of the processing, though.

Thank you for your help.

[2020-06-26 09:35] cytham commented on #11
I think the index error sparks from the latest version of pysam (v0.16.0.1) which you are using. I think the error appears when the BAM file is read by pysam e.g. `alignment = pysam.AlignmentFile(bam_path, "rb")`.

Can you try to downgrade the pysam version to v0.15.3 by `conda install -c bioconda pysam==0.15.3` and see if you still get the error? You can test it quickly by running NanoVar with th

[2020-06-26 11:39] tdido commented on #11
Yes, that did the trick. All errors are gone now.

[Here's the adjusted minimal conda env I used](https://github.com/cytham/nanovar/files/4836666/nanovar.txt), in case anyone ends up here and finds it useful.

Thank you again for your help!

[2020-06-26 11:39] #11 closed

[2020-07-13 18:17] umahsn opened #12 "OMP: Error #15: Initializing libomp.so"
I tried running Nanovar but received the following error. Can you help me figure out how to fix this?

OMP: Error #15: Initializing libomp.so, but found libiomp5.so already initialized.
OMP: Hint This means that multiple copies of the OpenMP runtime have been linked into the program. That is dangerous, since it can degrade performance or cause incorrect results. The best thing to do is to ensure t

[2020-07-13 22:27] cytham commented on #12
Duplicate of #11 Might be an issue with matplotlib. Please try the solutions in https://stackoverflow.com/questions/53014306/error-15-initializing-libiomp5-dylib-but-found-libiomp5-dylib-already-initial and get back to me, thanks

[2020-07-20 05:55] cytham commented on #12
Hi, I will close this for now.

[2020-07-20 05:55] #12 closed

[2020-08-11 03:16] yuntwang opened #13 "raise Exception("Read %s has none or more than 2 clusters" % read)"
@cytham
Hi，recent I use nanovar detect SV,
the command line as follows:
**nanovar -x ont -t 10 -l 50  N01.bam sequences_new.fa N01**
An error occurred after a while:
nv_cov_upper.py:132: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(['{:,.1%}'.format(x) for x in vals])
Traceback (most recent call last):
  File "/share/nas1/zhiyq/scripts/anaconda3/e

[2020-08-11 05:04] cytham commented on #13
Hi @yuntwang,

There seems to be an anomaly in the SV breakend clustering step. Do you mind running nanovar with the ```--debug``` option and send me the "subdata.tsv" and "parse1.tsv" files? The files might be too big to transfer over Github, thus you may want to share them over email or something else. My email is e0054302@u.nus.edu.

[2020-08-11 10:24] yuntwang commented on #13
@cytham
Sent mail, please check.
thanks

[2020-08-11 17:18] cytham commented on #13
@yuntwang Thanks for the files

I could not replicate the error using the files, they ran fine without raising any exception. The data is quite large and I realized you had the "Segmentation fault (core dumped)" error at the end which might indicate a memory issue. Your system might have run out of memory at the clustering step. I had roughly calculated that the clustering step for your data may t

[2020-08-12 05:55] yuntwang commented on #13
@cytham
ok, I try it.

[2020-08-24 10:59] cytham commented on #13
@yuntwang managed to resolve the problem?

[2020-09-11 05:11] cytham commented on #13
I assume the problem is resolved. Feel free to open this issue again.

[2020-09-11 05:11] #13 closed

[2021-02-24 04:06] oneillkza opened #18 "Nanovar segfaults on Neural network inference stage"
I'm running from the Biocontainers docker container via Singularity. The data set is a GM24385 test set we sequenced on a PromethION flowcell. I subsambled the first 10Mbp of chr20 for this test. It gets to the "neural network inference" and then segmentation faults.

[code]

[2021-02-24 16:02] cytham commented on #18
Hi, I have not tested on Biocontainers docker container via Singularity before. There might be a memory problem. How much memory did you allocate for this job?

[2021-02-24 18:15] oneillkza commented on #18
I was running this on one of our "general purpose" hosts that has 1.5TB of RAM. There were other users running jobs, but there should have been at least 700-800GB free.

[2021-02-24 18:25] oneillkza opened #19 "Nanovar fails with Python KeyError when clustering breakends"
Similar to #18 , I'm running NanoVar from the BioContainers container, this time on the full GM24385 data (one flowcell of PromethION WGS at around 30X coverage).

This is the output from nohup (capturing stdout/stderr):

[code]

This is the Nanovar log:

[code]

[2021-02-24 18:26] oneillkza commented on #18
Is there some minimal example data I can use to test that the container is working correctly?

[2021-02-25 10:23] cytham commented on #19
Can you please rerun your run with the --debug option and send me the "genome.sizes" and "parse1.tsv" files. You can send to my email e0054302@u.nus.edu if they are too large.

[2021-02-26 01:11] oneillkza commented on #19
I've rerun with --debug and put those files up at https://www.bcgsc.ca/downloads/koneill/nanovar_test/

parse1.tsv is about 700MB

[2021-02-26 15:51] cytham commented on #19
Thanks for the files.
May I check with you if the reference genome file you used to generate the BAM file (i.e. PAG33026.bam) the same as the reference file you used to run NanoVar (i.e. hg38_no_alt.fa)? Because it seems like a mismatching of chromosome/contig labeling (e.g. hg38_no_alt.fa has "chr1" but your BAM might have been "1"). Can you please check this?

If this is not the issue, I would n

[2021-03-05 08:12] cytham commented on #19
@oneillkza were you able to resolve the issue?

[2021-03-05 18:25] oneillkza commented on #19
Oh sorry -- I had a reply typed to this and didn't post it. Yes, that was the issue -- I had an hg19 bam but was giving it the hg38 reference. It should be fine to close this issue.

It might be worth putting in a check for this somewhere in nanovar, since this is an easy mistake to make, and the error message was a little cryptic.

Thanks for looking into it!

[2021-03-05 21:44] #19 closed

[2021-03-06 03:32] cytham commented on #18
Currently, there is no test set, but I'm working on it for future versions.
Is this problem still persisting?

[2021-03-08 19:41] oneillkza commented on #18
Hi @cytham!

Yes, unfortunately this problem is still persisting. If you want to try to debug it, I have a minimal-ish bam you can run:

https://www.bcgsc.ca/downloads/koneill/nanovar_test/lra_1_1_2_running_id.sorted.bam
https://www.bcgsc.ca/downloads/koneill/nanovar_test/lra_1_1_2_running_id.sorted.bam.bai

It's the first 10Mb of chr20, from some NA24385 data we sequenced internally.

[2021-03-25 04:58] cytham commented on #18
Hi @oneillkza, sorry for the wait. I have released a new version (v1.3.9). I suggest to install the new version in a new environment and try running it again.

[2021-04-24 02:44] zhemingfan commented on #18
Hi @cytham, I'm currently working on testing the same set of data, and with v1.3.9, I'm currently getting a KeyError. I'm going to explore the aligner output in the meantime, but the traceback is:
[code]

Let me know your thoughts. Thanks!

[2021-04-24 03:12] cytham commented on #18
@zhemingfan Hi, did you post an issue?

[2021-04-24 03:37] zhemingfan commented on #18
Hi @cytham I did - I wanted to retry something, but it didn't end up working. I'm not sure if this is something on pysam's end - but I was getting
[code]
After converting the BAM file to a SAM, adding an AS tag to the SAM file, then re-converting it to a BAM file, the error persists. Do you have any suggestions?

[2021-04-24 04:54] cytham commented on #18
Hi @zhemingfan, may I know how the bam file was generated? Was it through NanoVar? Or did you align it with your own aligner?

[2021-04-25 19:23] oneillkza commented on #18
@cytham we're using minimap2, but would likely also be interested in trying NanoVar with LRA.

Could I please ask what you mean by "through NanoVar"? I was under the impression (from the readme) that NanoVar took an aligned bam as input.

[2021-04-26 01:40] cytham commented on #18
Ok, minimap2 should be fine. Not sure if LRA will be compatible though.

NanoVar can also take FASTA/FASTQ files as input, which it will first do alignment with minimap2.

[2021-04-27 00:54] zhemingfan commented on #18
Hi @cytham , thank you for all your help! I was able to get Nanovar working with `minimap2`, but after re-doing the alignment, LRA is still giving the same KeyError.

[2021-04-27 02:48] cytham commented on #18
i believe LRA is not compatible with NanoVar. It seems like it is lacking the 'AS' tag in its output SAM file after alignment. Is there any parameters to add the 'AS' tag in LRA output?

When you said you've added the 'AS' tag manually, did you also add the alignment score that comes with the tag? Because this is required in NanoVar.

[2021-04-27 16:52] oneillkza commented on #18
Yeah LRA puts the alignment score in a custom tag "NV" rather than in "AS" as is customary. It looks like their score is also a float rather than an int, which may be why they chose to use a custom tag?

Looking at the values themselves, they seem to be more-or-less in the same range as minimap2 AS values, although maybe about two-fold smaller. Also the floating point seem to have about 4-6 signif

[2021-04-28 02:28] kztyes opened #22 "sv_cluster() Error"
TypeError: sv_cluster() missing 1 required positional argument: 'seed'
The following picture is my detailed output:

![微信图片_20210428102638](https://user-images.githubusercontent.com/55338332/116337133-3f4cbe00-a80c-11eb-8204-c75e61d65212.png)

[2021-04-28 03:36] cytham commented on #22
Hi @kztyes, may I know what version of NanoVar you are using? Can you please try out the newest version 1.3.9?

[2021-04-28 03:44] cytham commented on #18
@oneillkza thanks for looking into this matter and raising it up to the authors of LRA. Yes I believe replacing NV with AS might work, though we still have to test its readability of Floats by Pysam, which is what NanoVar uses to read the SAM file. I would hope that the authors of LRA would change its tag labels to follow the current SAM format in order for its SAM files to be readable by existing

[2021-04-28 09:05] kztyes commented on #22
Hello, @cytham, after the version 1.3.9 has been replaced, new problem arises:
![Uploading 微信图片_20210428170255.png…]()

[2021-04-28 13:56] cytham commented on #22
Hi @kztyes the error means that the contig "1" found in your BAM file is not found in the reference genome. Please ensure that the reference genome you provide is the same one you used for read mapping.

[2021-04-29 01:07] kztyes commented on #22
Hi @cytham , I think I probably know why this problem occurs. My BAM file is divided into chromosomes , I used the BAM file of chromosome 2 to detect structural variation through nanovar, so there is no contig "1". What should I do in this situation？

[2021-04-29 01:27] cytham commented on #22
Can I check if the chromosome header in the BAM file matches the chromosome of the alignments? For example, does the chromosome 2 BAM file only state chromosome 2 in its header, etc.

And do you also split the reference to individual chromosomes?

[2021-04-29 02:26] kztyes commented on #22
I didn't split the reference to individual chromosomes , and this is my header file:
[hg002_allreads_ngmlr.2.txt](https://github.com/cytham/nanovar/files/6395936/hg002_allreads_ngmlr.2.txt)

[2021-04-29 03:01] cytham commented on #22
can you index the reference genome FASTA file using `samtools faidx` and send me the .fai file? Thanks

[2021-04-29 04:36] kztyes commented on #22
发自我的华为手机

[2021-04-29 04:47] cytham commented on #22
Hi @kztyes, I am having a problem understanding the message.

[2021-04-30 07:46] kztyes commented on #22
After commenting out the following code, Nanovar works well. Then it outputs two VCF files, which one should I use, Pass or Total ?

`   # Check BAM contigs in reference genome
    # if input_type == 'bam':
    #     for c in contig_list:
    #         if c not in contig_len_dict:
    #             logging.critical("Error: Contig %s in BAM is absent in reference genome" % c)
    #             rais

[2021-04-30 07:51] cytham commented on #22
@kztyes Yea it worked because you just removed the function to ensure that there are same contig labels in both the reference genome and BAM file. The reason you got that error in the first place is because you had mismatching contig names between your reference genome and BAM file. Please proceed at your own risk to comment this section out. I recommend to check the contig labeling of your refere

[2021-05-10 07:44] yekaizhou opened #24 "Why sv_support_read contains reads from other chromosome?"
Hi,

I am using sv support reads for downstream analysis. I found that the reads responsible to detect one particular SV often come  from different chromosomes, even for INS and DEL. Is it the internal algorithm set up? As other SV detection algorithms only cluster SVs from the nearby reads within the same chromosome.

[2021-05-10 09:21] cytham commented on #24
Hi @yekaizhou, what version of NanoVar are you using?

By right, the reads that support each SV should only be overlapping with the breakpoints of the SV. So in the case of inter-chromosomal translocations, the supporting reads will align to different chromosomes. However, for INS or DEL, the supporting reads should be only aligning to the SV region of the same chromosome. Can you show me some exa

[2021-05-10 09:29] kristinastenlokk opened #25 ""Exeption: Read has none or more than 2 clusters" error"
Hi!

I have sucessfully been running NanoVar (v 1.3.8) for a number of identically processed nanpore samples, but I get the following error for one of them:

[07/05/2021 08:16:12] - NanoVar started

Traceback (most recent call last):
  File "/mnt/users/kristenl/.conda/envs/py2.7/bin/nanovar", line 479, in <module>
    main()
  File "/mnt/users/kristenl/.conda/envs/py2.7/bin/nanovar", line 339, in

[2021-05-10 09:34] cytham commented on #25
Hi @kristinastenlokk, it might be caused by an index duplication bug in v1.3.8. Can you try with v1.3.9 and see if the error persists?
Sorry for the inconvenience.

[2021-05-10 09:35] cytham commented on #22
@kztyes any updates on this issue? if not I will close it for now.

[2021-05-10 12:06] kristinastenlokk commented on #25
Hi again!

I am having some trouble installing/updating the latest version with conda (conda install -c bioconda nanovar). This worked fine for 1.3.8, so I'm wondering if it could be a problem with nanovar 1.3.9. I am getting this error:

Solving environment: failed

InvalidVersionSpecError: Invalid version spec: =2.7

[2021-05-10 15:58] cytham commented on #25
Hi, i think that is a problem with Conda. What version of Conda are you using? and can you try updating it? Thanks

[2021-05-26 10:45] kristinastenlokk commented on #25
Sorry for the late reply! It was a conda problem, just like you said. NanoVar is running smoothly now. Thanks a lot!

[2021-05-26 10:45] #25 closed

[2021-06-02 10:35] cytham commented on #24
@yekaizhou Are you still having this problem?

[2021-06-02 10:35] #22 closed

[2021-06-02 11:55] yekaizhou commented on #24
Hi I discovered that it was the problem of the downloaded data. Sorry that I did not reply earlier.

Thanks anyway! NanoVar is really nice at discoverying novel SVs at low sequencing depth.

[2021-06-02 11:55] #24 closed

[2021-06-03 16:05] gchevignon opened #28 "AttributeError: 'str' object has no attribute 'decode'"
Hello I got this error :

nanovar -x ont -l 1000 -t 10 wocg_10_longest_MD_CIGAR.bam.sort.bam oshv1-microVAR2.fasta 05-nanovar.dir/
[03/06/2021 15:49:19] - NanoVar started
Checking integrity of input files - /
Indexing genome and aligning reads - \
Analyzing read alignments and detecting SVs - //home1/datawork/gchevign/Soft.dir/nanovar-1.3.9/lib/python3.7/site-packages/nanovar/nv_cov_upper.py:141:

[2021-06-03 16:15] cytham commented on #28
Hi @gchevignon, can you do a `pip freeze` and show me the output? Please do it in the environment where NanoVar is installed.

Thanks

[2021-06-03 19:54] gchevignon commented on #28
Here you go :
absl-py @ file:///tmp/build/80754af9/absl-py_1615411205513/work
astor==0.8.1
biopython @ file:///tmp/build/80754af9/biopython_1600298863563/work
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
certifi==2021.5.30
coverage @ file:///tmp/build/80754af9/coverage_1614614864940/work
cycler==0.10.0
Cython @ file:///tmp/build/80754af9/cython_1618432038002/work

[2021-06-04 03:30] cytham commented on #28
Thanks, can you please install the latest version of NanoVar (v1.3.9) and try running again?

[2021-06-04 06:35] gchevignon commented on #28
This is weird because I have installed nanovar yesterday with conda ....
why conda did not install the last version ?
Thanks

[2021-06-04 06:38] cytham commented on #28
I see. I do not know why conda does that sometimes. Can you try with 'conda install -c bioconda nanovar=1.3.9'?

[2021-06-04 06:45] gchevignon commented on #28
conda install -c bioconda nanovar=1.3.9
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retr

[2021-06-04 06:52] cytham commented on #28
May I know what is your conda version? Try `conda --version`

[2021-06-04 06:53] cytham commented on #28
Are you using a new conda environment for NanoVar installation?

[2021-06-04 06:54] gchevignon commented on #28
conda 4.10.1

[2021-06-04 07:51] gchevignon commented on #28
"conda install -c bioconda nanovar" is working but it install nanovar-1.3.2 (bioconda/linux-64::nanovar-1.3.2-py37h516909a_0)

[2021-06-04 08:20] cytham commented on #28
May I know if you are using a newly created conda environment for the NanoVar installation?

[2021-06-04 09:56] gchevignon commented on #28
Yes I create a new one (i think so)

conda create -p nanovar-test
conda activate nanovar-test/
conda install -c bioconda nanovar=1.3.9 # not working
conda install -c bioconda nanovar # working but with v1.3.2

[2021-06-04 10:02] cytham commented on #28
what is your python version in the environment? can you do `python --version`

[2021-06-04 11:49] gchevignon commented on #28
python --version
Python 3.7.10
which python
/home1/datawork/gchevign/Soft.dir/nanovar-test/bin/python

After
conda create -n nanovar-test2 python=3.8
conda activate nanovar-test2

conda install -c bioconda nanovar=1.3.9
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repo

[2021-06-04 13:00] cytham commented on #28
Thanks for trying it out.

Please try these in the specific order:
[code]
and try installing nanovar v1.3.9 again

[2021-06-04 16:05] gchevignon commented on #28
OK install working
But I got a Segmentation fault (I am on a node with 400G ram)
nanovar -x ont -t 20 wocg_10_longest_MD_CIGAR.bam.sort.bam oshv1-microVAR2.fasta 05-nanovar.dir/
[04/06/2021 15:53:25] - NanoVar started
Checking integrity of input files - \
Indexing genome and aligning reads - \
Analyzing read alignments and detecting SVs - \
Clustering SV breakends - -
Re-evaluating SVs with BLAST

[2021-06-04 16:11] cytham commented on #28
Can you send me the log file for this run? thanks

[2021-06-04 16:13] gchevignon commented on #28
[04/06/2021 15:53:25] - INFO - Initialize NanoVar log file
[04/06/2021 15:53:25] - INFO - Version: NanoVar-1.3.9
[04/06/2021 15:53:25] - INFO - Command: /home1/datawork/gchevign/Soft.dir/nanovar-test2/bin/nanovar -x ont -t 20 wocg_10_longest_MD_CIGAR.bam.sort.bam oshv1-microVAR2.fasta 05-n
anovar.dir/
[04/06/2021 15:53:25] - INFO - Input file: wocg_10_longest_MD_CIGAR.bam.sort.bam
[04/06/2021 15:5

[2021-06-04 16:52] cytham commented on #28
The log looks fine. I guess it might be a problem with Tensorflow.

Can you try these line by line in python and see if you get any error?
[code]
thanks

[2021-06-04 17:07] gchevignon commented on #28
python
Python 3.8.10 | packaged by conda-forge | (default, May 11 2021, 07:01:05)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
readline: /etc/inputrc: line 19: term: unknown variable name
readline: /etc/inputrc: line 19: term: unknown variable name

2021-06-04 17:06:36.848655: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary

[2021-06-04 17:40] cytham commented on #28
Thanks

Can you please show me details of your machine and OS?
[code]
Thanks

[2021-06-04 17:52] gchevignon commented on #28
lsb_release -a
LSB Version:	n/a
Distributor ID:	SUSE LINUX
Description:	SUSE Linux Enterprise Server 12 SP1
Release:	12.1
Codename:	n/a
uname -m
x86_64

[2021-06-04 18:08] cytham commented on #28
can you try reinstalling tensorflow by:
`pip install --upgrade tensorflow`
and then do the test above again

Thanks

[2021-06-04 18:13] gchevignon commented on #28
I can't do this by my self on the cluster I use ...
I'll ask the admin for this
Thanks

[2021-06-04 18:15] cytham commented on #28
can you do it in your nanovar-test environment?

[2021-06-04 18:20] gchevignon commented on #28
OK I did it !
nanovar is running ...

[2021-06-04 18:29] cytham commented on #28
that's great!

[2021-06-04 18:58] gchevignon commented on #28
not yet ...
nanovar -x ont -t 20 wocg_10_longest_MD_CIGAR.bam.sort.bam oshv1-microVAR2.fasta 05-nanovar.dir/
[04/06/2021 18:20:25] - NanoVar started
Checking integrity of input files - \
Indexing genome and aligning reads - \
Analyzing read alignments and detecting SVs - \
Clustering SV breakends - |
Re-evaluating SVs with BLAST and inferencing - |
Generating VCF files and report - |Segmentation f

[2021-06-04 18:59] gchevignon commented on #28
[04/06/2021 18:20:25] - INFO - Initialize NanoVar log file
[04/06/2021 18:20:25] - INFO - Version: NanoVar-1.3.9
[04/06/2021 18:20:25] - INFO - Command: /home1/datawork/gchevign/Soft.dir/nanovar-test2/bin/nanovar -x ont -t 20 wocg_10_longest_MD_CIGAR.bam.sort.bam oshv1-microVAR2.fasta 05-n
anovar.dir/
[04/06/2021 18:20:25] - INFO - Input file: wocg_10_longest_MD_CIGAR.bam.sort.bam
[04/06/2021 18:2

[2021-06-04 19:27] cytham commented on #28
Can you please run the following in python and let me know the error:
[code]

[2021-06-04 19:41] gchevignon commented on #28
Python 3.8.10 | packaged by conda-forge | (default, May 11 2021, 07:01:05)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
readline: /etc/inputrc: line 19: term: unknown variable name
readline: /etc/inputrc: line 19: term: unknown variable name

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home1/datawork/gchevign/Soft

[2021-06-05 04:18] cytham commented on #28
my mistake, can you please replace "05-nanovar.dir/" with the PATH to your NanoVar working directory?

[2021-06-05 12:05] gchevignon commented on #28
I run this in my nanovar environment in python:

from nanovar.nv_report import create_report
create_report("/home1/datawork/gchevign/ONT_oshv1_7_kits.dir/05-nanovar.dir/", [1,2,3], 1, "./read.fa", "./ref.fa", {"read1": 1000, "read2": 2000}, "wocg_10_longest_MD_CIGAR.bam.sort", 10, 1)

I got no error and the wocg_10_longest_MD_CIGAR.bam.sort.nanovar.pass.report.html has been made !

So to conclude

[2021-06-05 12:40] cytham commented on #28
The HTML report you just made is a dummy report (It does not contain any useful information). Its successful run means that there is no problem with the "Creating HTML report" stage. Hence, I am unsure of what caused the segmentation fault at the end.

May I know how many chromosomes are there in your reference file?

[2021-06-05 12:42] gchevignon commented on #28
Only one ~200kb it's an herpes virus

[2021-06-05 12:47] cytham commented on #28
Perhaps you can try the following which generates a larger and more realistic HTML file:
[code]
Thanks

[2021-06-05 12:50] gchevignon commented on #28
Guidelines.
Assignees
No one assigned
Labels
None yet
Projects
None yet
Milestone
No milestone
Linked pull requests
Successfully merging a pull request may close this issue.

None yet
Notifications
Customize
You’re receiving notifications because you were mentioned.
2 participants
@cytham
@gchevignon>>> Thanks
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name

[2021-06-05 13:09] cytham commented on #28
I don't understand your reply

[2021-06-05 13:16] gchevignon commented on #28
sorry my bad ...
I did something wrong when I have pasted the command in python ...
the new HTML report looks similar than the previous one

[2021-06-05 14:44] cytham commented on #28
Ok thanks for trying.

I am not sure why you get the seg fault then. Perhaps you can try to rerun NanoVar again and see if you still get seg fault. If you do run it again, please do check if the new HTML report is produced.

Moving forward, the NanoVar pipeline is considered complete without the report, and if the report is not important in your analysis, you may just ignore the seg fault.
Thanks

[2021-06-05 14:48] gchevignon commented on #28
OK that's great !
Thanks a lot for your time !
Cheers

[2021-07-17 07:37] MingchenInSZ opened #29 "CRITICAL - Error: hs-blastn alignment failed"
This error always occurred, when i calling sv using mapped BAM(minimap2), and i do not really know what has happed. what should i do to locate the error?
`nanovar   -f hg38 -t 20 --force /home/user/.../alignment/20200914_1356_6F_PAF26223_da14221a/readset1.bam /home/user/.../GRCh38_full_analysis_set_plus_decoy_hla.fa   /home/user/.../variants/nanovar/20200914_1356_6F_PAF26223_da14221a`

[NanoVar-17

[2021-07-17 08:41] cytham commented on #29
@MingchenInSZ I realized many of your contigs contain the '-' symbol. Can you find a way to remove it from each contig name and try running again?

Sorry for the inconvenience.

[2021-07-22 08:19] MingchenInSZ commented on #29
@cytham  Thanks a lot. I've tried as your suggestions, replacing all '-'  into '_'  in reference. Then I run again, but the same error occurred.
As the log printed, hs-blastn index and alignment all failed, and i found the temp1.fa worked without exition and while
[NanoVar-220721-0304.log](https://github.com/cytham/nanovar/files/6860845/NanoVar-220721-0304.log)
processing temp2.fa  the error occur

[2021-07-24 09:56] cytham commented on #29
Sorry can you also try to remove any ":" or "~" symbols too? Also, if possible, can you try with the latest version of NanoVar (v1.3.9). Thanks

[2021-07-27 01:00] MingchenInSZ commented on #29
@cytham  Thank you for your patience， I removed all records contained ":" or "-", and removed all the HLA sequeueces which might contain uncommon signs. And i upgrade the nanovar to 1.3.9. This run, the warning disappeared, but the same error  occurred。
hs-blastn index and alignment always failed, the installation and configuration of hs-blastn need any special attentions?
[NanoVar-260721-1702.log

[2021-07-31 02:08] cytham commented on #29
@MingchenInSZ Sorry for the delayed response.

May I know how you've installed NanoVar? Did you install hs-blastn independently by yourself?

[2021-08-02 06:09] MingchenInSZ commented on #29
@cytham Awesome thanks.  Firtly, I‘ve installed NanoVar version 1.3.6 by running pip install command, and upgraded to 1.3.9 as your suggestion in former response. And hs-blastn was installed independently, and no errors or warnings occurred during installtion.

[2021-08-02 06:49] cytham commented on #29
@MingchenInSZ May I know how did you install hs-blastn? and which version did you install?

[2021-08-02 07:08] MingchenInSZ commented on #29
@cytham Thanks for your prompt reply.
I cloned "query" package from github, and run make command to intall local.
`
git clone https://github.com/chenying2016/queries.git
cd queries/hs-blastn-src/
make
`
and the version is 2.0.0
![123](https://user-images.githubusercontent.com/7196243/127818535-894c0dd9-6773-4c81-a993-edbc384c3173.png)

[2021-08-02 11:24] cytham commented on #29
@MingchenInSZ NanoVar can only utilize version 0.0.5 of hs-blastn. So this might be the problem. Please refer to the NanoVar's README for instructions on installing the version 0.0.5 of hs-blastn, or you can just refer to here:
[code]

[2021-08-03 07:39] MingchenInSZ commented on #29
@cytham Awesome thanks! I've tried as suggestions and run successfully.

[2021-08-03 07:40] #29 closed

[2021-09-04 11:58] #28 closed

[2021-09-04 11:59] #18 closed

[2021-09-24 07:13] MeiShu00 opened #35 "output does not match input data"
Hi,

I recently tried NanoVar on 1D Nanopore data for targeted sequencing of a few STR loci. I am able to view these reads that overlap the STR loci on IGV but NanoVar is unable to report anything in these STR loci. My read depth is ~0.1X but i'm not sure if this is the reason as NanoVar called insertion in other chromosomes with supporting reads count as low as 2 reads when i have >500,000 reads

[2021-09-24 08:42] cytham commented on #35
Hi @MeiShu00,

Thanks for trying out NanoVar.

Do you expect to see SVs in these STR loci? If so, can you send me a IGV snapshot of such loci which shows read alignment abnormalities that imply an SV?

Read depth might not be a problem for NanoVar to call variants in the targeted loci.

BND refers to breakend SVs which represent either a translocation breakpoint or a genomic sequence transposition

[2021-09-24 08:46] MeiShu00 commented on #35
Hi cytham,

Thank you for your speedy reply, below is a screenshot of IGV for chr11:4890980-4891026 of motif (AAT)n:
![image](https://user-images.githubusercontent.com/69883139/134645834-386c6da7-75ed-413b-bbdb-8e1dac1fbdb4.png)

[2021-09-24 08:54] cytham commented on #35
Hi @MeiShu00,

The snapshot looks like there is an insertion (probably varying lengths of (AAT)n like you said). However, as these insertions are small (less than 25 bp), they are not picked up by NanoVar. NanoVar was developed to detect SVs which are >50bp in size, so I believe it will not detect your small indels efficiently.

You might want to try running NanoVar with a smaller length threshold

[2021-09-24 09:04] MeiShu00 commented on #35
Hi @cytham,

I see! I will try running NanoVar with a smaller length threshold.
Thank you !

[2021-09-28 23:41] LYC-vio opened #36 "Nonovar dose not parse -x correctly when utilizing minimap2"
While NanoVar uses:
[code]
to set the datatype, the minimap2 part inside `nanovar/nv_align.py` only has if-else for data_type == 'ont' and data_type == 'pacbio' (see below), which means datatype `pacbio-clr` and `pacbio-ccs` won't be parsed correctly, resulting in ` ... -ax ref.fa ... `  -> minimap preset error ` [ERROR] unknown preset 'ref.fa' `
[code]
My personal suggestion will be:
[code]
 sinc

[2021-09-29 01:42] cytham commented on #36
Hi @LYC-vio

Thanks for identifying the issue. Seems like a bug. I will fix it in a while. Thanks!

[2021-09-29 23:16] LYC-vio commented on #36
Hi @cytham

I've created a pull request correspond to this issue

[2021-09-30 10:28] cytham commented on #36
Thanks @LYC-vio. Fixed #37

[2021-09-30 10:31] #36 closed

[2021-09-30 10:31] #35 closed

[2021-10-26 01:25] zch0803 opened #38 "After run nanovar, we cannot get the vcf results, could you give some advice?"
We use command `nanovar -t 24 ourbam.bam hg38.fna ourdir` to run nanovar. After calculating, we cannot find output vcf in outdir. Here is the output file:

And in the logfile, we cannot find anything wrong, the last log is

[25/10/2021 20:05:18] - INFO - Neural network inference
[25/10/2021 20:05:45] - DEBUG - Creating converter from 3 to 5".

So, we would be very grateful for your help , could yo

[2021-10-30 16:24] cytham commented on #38
@zch0803 Hi, so were you able to obtain the VCF output files?

[2021-11-10 06:55] zch0803 commented on #38
Yes, There are two ways to solve the problem. The first way is to modify the "YourPath/miniconda3/envs/sv/lib/python3.7/site-packages/tensorflow_core/python/keras/saving/hdf5_format.py" file. The second way by updating the nanovar to v1.4.1 is also ok. And the results are no difference.

[2021-11-11 16:46] cytham commented on #38
Thanks @zch0803. Glad that the problem has been resolved.

[2021-11-11 16:46] #38 closed

[2022-01-23 18:36] infotmatician opened #41 "Error: Unrecognized CIGAR translated symbol "3""
Dear developers,

Hope you are doing well. I am getting an error when I run the nanovar. I have already done with all dependencies and everything I hope, but I guess I have a problem with my .bam file the problem is
Error: Unrecognized CIGAR translated symbol "3"
Is it related to my sample being Direct-Rna Seq?
I am using basic usage which you mentioned on the main page for the command

Best Regar

[2022-01-24 02:42] cytham commented on #41
@infotmatician

Thank you for reporting the issue.

The error refers to the "N" symbol in the CIGAR string which refers to "skipped region from the reference". I believe this might appear when spliced mRNA reads are mapped to the reference genome.

Unfortunately, NanoVar currently do not support SV calling from RNA reads. We will consider having this feature in the future.

In the meantime, you ma

[2022-01-24 07:43] infotmatician commented on #41
Thank you for the response  I wish you all a good day

[2022-03-02 14:45] beantkapoor786 opened #43 "Unable to install using conda"
Hello, I am unable to install the software using Conda. Here is the code that I am using -
[code]
It is stuck at this step for at least a couple hours -
[code]
Any suggestion is greatly appreciated. Thank you.

[2022-03-02 15:00] cytham commented on #43
Hi, can you try to specify the version of NanoVar?
[code]
Have you also make sure your channels are set correctly for bioconda? See below
[code]

[2022-03-07 19:00] beantkapoor786 commented on #43
Hello, sorry for the late reply but I am still stuck on the same message `Solving environment: \` even when I used this code
[code]
I think I have set my channels correctly for bioconda. Here are the contents of my `.condarc` file -
[code]
Please let me know if there is anything else I can try. Thank you.

[2022-03-07 19:28] cytham commented on #43
I think this is a problem with the Conda repositories.

Can you try
[code]
if doesn't work, try
[code]
or else, change it back to flexible
[code]
and try installing nanovar=1.4.1 again.

[2022-03-07 20:05] beantkapoor786 commented on #43
Using this code worked -
[code]
It is now installed. Thank you for all your help.

[2022-04-07 01:23] #43 closed

[2022-04-07 01:24] #41 closed

[2022-08-11 18:06] yekaizhou opened #48 "can nanovar work on incomplete genomes?"
Hi,

I am running nanovar on incomplete genomes which is the chromosome 21 of HG00733. it turns out that NanoVar cannot run till the end. I am wondering if NanoVar is able to run on incomplete genomes, or it is caused by other issues? I am pasting the log for your reference. I noticed that the error is because of **hs-blastn alignment failed**, and i have checked the previous issues that i have th

[2022-08-17 22:10] Mrromeros opened #49 "HTML Report Figure's Aren't Showing"
Hello, I used Nanovar on a test dataset of MinION data from SRA, and was able to produce the .pass.vcf and .total.vcf files without any issues, and the HTML report is generated but I cannot view any of the figures.

I have attached the image below of what my report looks like. I am not sure if this is just a problem with the HTML or the actual execution, seeing how the program executed without err

[2022-08-18 06:27] cytham commented on #49
@Mrromeros The HTML should only be opened in the folder it was created as it is not a standalone file. Did you take it out of the original folder? Sorry for this inconvenience

[2022-08-18 06:28] cytham commented on #48
@yekaizhou May I know how you installed NanoVar?

[2022-08-18 14:54] yekaizhou commented on #48
i am using pip to install. i have tried to install using conda but the version can only be up to 1.3.0.

[2022-08-18 16:19] cytham commented on #48
Ok, can you try running with the --force option to force it to make the indexes?

[2022-08-19 07:12] yekaizhou commented on #48
thanks, i will try the force option

[2022-08-19 07:12] #48 closed

[2022-08-22 16:52] cytham commented on #49
The HTML file requires the `fig`, `css` and `js` folders, so please transfer them too and make sure they are in the same folder.

[2022-08-22 17:53] Mrromeros commented on #49
That solved the problem! Thank you for the quick assistance!

[2022-10-27 09:48] #49 closed